nav {
    height: 50px;
    background-color: lightcoral;
}
#mainLogo {
    margin: auto;
    font-size: 40px;
}
#tutorial, #activity {
    background-color: crimson;
    border: none;
    margin-right: 10px;
    padding: 10px;
    float: right;
    width: 100px;
    height: 100%;
}
#tutorial:hover, #activity:hover {
    background-color: red;
}
#articleSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#addArticle {
    background-color: white;
    width: 100px;
    height: 100px;
    font-size: 100%;
    margin: 10px;
}
#articleTemplate {
    display: none;
}
article {
    margin: 10px;
    padding: 10px;
    background-color: orange;
    width: 425px;
    height: 550px;
    border-radius: 5px;
}
.invisable {
    display: none;
}
article input {
    background-color: lightgoldenrodyellow;
    border-width: thin;
    width: 100%;
}
article:focus-within {
    width: 510px;
    height: 660px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
article>textarea {
    background-color: lightgoldenrodyellow;
    width: 98%;
    height: 230px;
}
article button {
    font-size: medium;
    margin-left: 5px;
    padding: 0%;
    border: none;
    background: none;
}
article:focus-within button:hover {
    background-color: red;
}